@model Movie

<div class="item">
    <div class="w3l-movie-gride-agile w3l-movie-gride-agile1">
        <a asp-controller="Movie" asp-action="Index" asp-route-Name="@Model.Name" class="hvr-shutter-out-horizontal">
            <img src="@Model.ImageURL" title="album-name" class="img-responsive" alt=" " />
            <div class="w3l-action-icon"><i class="fa fa-play-circle" aria-hidden="true"></i></div>
        </a>
        <div class="mid-1 agileits_w3layouts_mid_1_home">
            <div class="w3l-movie-text">
                <h6><a asp-controller="Movie" asp-action="Index" asp-route-Name="@Model.Name">@Model.Name</a></h6>
            </div>
            <div class="mid-2 agile_mid_2_home">
                <p>@Model.Year</p>
                <div class="block-stars">
                    <ul class="w3l-ratings">
                        <li><a href="#"><i class="fa @(Model.Rate >= 1 ? "fa-star" : Model.Rate >= 0.5 ? "fa-star-half-o" : "fa-star-o")" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa @(Model.Rate >= 2 ? "fa-star" : Model.Rate >= 1.5 ? "fa-star-half-o" : "fa-star-o")" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa @(Model.Rate >= 3 ? "fa-star" : Model.Rate >= 2.5 ? "fa-star-half-o" : "fa-star-o")" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa @(Model.Rate >= 4 ? "fa-star" : Model.Rate >= 3.5 ? "fa-star-half-o" : "fa-star-o")" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa @(Model.Rate >= 5 ? "fa-star" : Model.Rate >= 4.5 ? "fa-star-half-o" : "fa-star-o")" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        @if (Model.IsNew == true)
        {
            <div class="ribben">
                <p>NEW</p>
            </div>
        }
    </div>
</div>